<template>
    <input type="submit" class="btn btn-danger mr-1 d-block w-100 mb-2" value="Eliminar x" @click="eliminarReceta">
</template>

<script>

    export default {
        props: ['recetaId'],
        mounted(){
            console.log('receta actual', this.recetaId)
        },
        methods: {
            eliminarReceta(){
                this.$swal({
                    title: '¿Deseas eliminar esta receta?',
                    text: "Una vez eliminada, no se puede recuperar",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si',
                    cancelButtonText: 'No'
                }).then((result) => {

                    // Parametros que se le deben pasar al axios
                    const params = {
                        id: this.recetaId
                    }

                    // Enviar la peticion al servidor
                    axios.post(`/recetas/${this.recetaId}`, {params, _method: 'delete'})
                        .then(respuesta => {
                             this.$swal({
                                title: 'Receta Eliminada',
                                text: 'Se elimino la receta',
                                icon: 'success'
                            });

                            // Mostrar elemento del DOM del componente
                            // console.log(this.$el);

                            // Eliminar elementoS del DOM tomando en cuenta cuantos elementos padres se eliminaran
                            this.$el.parentNode.parentNode.parentNode.removeChild(this.$el.parentNode.parentNode)
                        })
                        .catch(error =>
                            console.log(error)
                        )
                })
  
            }
        }
    }   
</script>